---
import Icon from "../../components/icon.astro";

const items = [
  {
    name: "On-campus",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-5.jpg",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/on-campus.jpg" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">When looking for events or activities on campus, students know where to look: the <a href="https://www.messiah.edu/info/21557/student_activities_board_sab" class="underline link">Student Activities Board (SAB)</a>, Multicultural council and other student-led organizations. They plan dances, concerts, coffeehouses, films, off-campus excursions and many other activities.</p>

      <p class="mb-4 paragraph">Like live entertainment? Hang out in the student union and catch a free concert featuring up-and-coming bands, play a game of pool or watch your classmates perform during the monthly <a href="https://www.messiah.edu/info/21622/student_talent/2632/coffeehouse" class="link underline">Coffeehouse</a>. Want to relax? Grab a latte and head to our on-campus theater to catch a movie. Looking to be active? Jog along the Yellow Breeches Creek, or show off your dance moves at the Spring Fling. From experiencing amazing new cuisine at the Food Truck Fest to trying your hand at pumpkin carving at the annual Fall Festival or Spring Sha-bing, your social calendar won’t be lacking.</p>
    `,
  },
  {
    name: "Off-campus",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-6.jpg",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/off-campus-adventures.jpg" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">While there’s plenty to do on campus, we realize you might want to explore the surrounding area, too. Luckily, we’re only a short drive from Harrisburg—Pennsylvania’s capital city—and many other towns and metropolitan areas. Within just a few minutes of campus, you’ll find plenty of restaurants, shopping, entertainment venues, movie theaters, galleries, coffee shops and museums.</p>

      <div class="flex gap-2 flex-wrap mt-4"> 
        <a class="btn-tertiary" href="https://www.messiah.edu/area">Things to see and do!</a>
      </div>
    `,
  },
  {
    name: "Campus tranditions",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-4.jpg",
    content: `
      <p class="paragraph mb-4">From the moment you step onto campus at Messiah until you cross the stage at Commencement, there are a variety of traditions and annual events that bring students together as a fun and supportive campus community.</p>

      <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-1.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Candlelight services</h5>

          <p class="paragraph">Messiah students and their families experience two meaningful candlelight worship services—one at the end of first-year move-in day and one at Baccalaureate the night before Commencement. These powerful ceremonies are a meaningful way to bookend your time at Messiah—and to reflect on all that God has done in your life.</p>
        </div>
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-2.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">White-out march</h5>
          
          <p class="paragraph">Before the Homecoming soccer games, students are given white (free!) T-shirts. The spirited crowd—dressed in white and led by a bagpiper—marches across the Covered Bridge to the soccer field where they inspire Falcon fans to cheer on the big game!</p>
        </div>
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-3.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Powderpuff football</h5>
          
          <p class="paragraph">The women gear up for a fun football game while the men take on the role as cheerleaders in this fun Homecoming tradition. The competition pits seniors against first-years and sophomores against juniors.</p>
        </div>
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-4.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Service day</h5>
          
          <p class="paragraph">Each spring, Messiah hosts Service Day where students and employees have a day off from classes and work, and serve together as a campus community. This is done either as a volunteer for Special Olympics (hosted on our campus) or with any one of many outreach opportunities throughout the local area. </p>
        </div>
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-6.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Final week</h5>
          
          <p class="paragraph">Studying for finals likely doesn’t seem like fun, but Messiah works hard to make that week more bearable for students. During finals week, Lottie Dining Hall opens one night between 10 p.m. and midnight and employee volunteers serve students free pancakes and tots. Then, at midnight every night during finals week, students let off a little steam with a collective scream out their windows! </p>
        </div>
        <div>
          <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-slide-7.jpg" alt="" />

          <h5 class="font-title uppercase font-bold mt-4 mb-2 text-xl">Yellow Breeches</h5>
          
          <p class="paragraph">The beautiful Yellow Breeches Creek runs right through Messiah’s campus, and on any given day, you’ll see students enjoying a nap in a hammock, studying with friends, tubing or canoeing, and even fishing!</p>
        </div>
      </div>
    `,
  },
  {
    name: "Fan experience",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-1.jpg",
    content: `
      <p class="paragraph mb-4">As a Messiah student, you'll have many opportunities to be a spectator and become a loyal Falcon fan, cheering on our 22 NCAA Division III teams at countless athletic events. Whether you’re at the diamond cheering on the softball team or spending a Saturday watching soccer or lacrosse, it’s a great way to spend time with friends and get in the school spirit!</p>

      <a href="https://gomessiah.com/" class="btn-tertiary">gomessiah.com</a>
    `,
  },
  {
    name: "Sport-related activities",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-2.jpg",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/sport-related-activities.jpg" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">In addition to NCAA athletics, there are many club sports and recreational leagues on campus, like Ultimate frisbee, field hockey and more. Club teams compete against other colleges and universities, while our recreational teams compete against each other for the coveted campus rec sports league title. As a Messiah athlete, no matter what level you compete at, you practice something of lifelong importance directing your talents and hard work toward a greater purpose.</p>

      <div class="flex gap-2 flex-wrap mt-4"> 
        <a class="btn-tertiary" href="http://www.gomessiah.com/clubsports">Club sports</a>
        <a class="btn-tertiary" href="https://www.messiah.edu/info/20711/rec_sports">Rec sports</a>
        <a class="btn-tertiary" href="http://www.gomessiah.com/">NCAA sports</a>
      </div>
    `,
  },
  {
    name: "Clubs and organizations",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/student-life/wtd-3.jpg",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/student-life/clubs-and-organizations.jpg" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">Messiah's campus is an active, busy place. You can engage your passions in any of the 60+ clubs and organizations within the Student Government Association (SGA). These student-run groups play a crucial role in your education, offering you a place to serve, lead, grow and have fun outside the classroom.</p>

      <div class="flex gap-2 flex-wrap mt-4"> 
        <a class="btn-tertiary" href="https://www.messiah.edu/info/21478/clubs_and_organizations">See our full list of clubs and organizations</a>
      </div>
    `,
  },
];
---

<section class="bg-[url(/images/campus-bg.jpg)] bg-no-repeat bg-cover py-24 relative scroll-m-24">
  <div class="wrapper">
    <h2 class="text-white h2 text-center">What's there to do?</h2>

    <ul class="grid grid-cols-2 md:grid-cols-3 gap-8 my-12">
      {
        items.map((item, index) => (
          <li>
            <button
              data-what-to-do-trigger={`grow-your-faith-tabpanel-${index}`}
              type="button"
              class="text-white group font-title w-full font-bold text-center text-xl sm:text-2xl md:text-3xl flex flex-col items-center"
            >
              <img
                src={item.preview}
                alt=""
                class="mb-2 rounded-full group-hover:opacity-75 border-4 border-white transition-opacity"
              />
              {item.name}
            </button>
          </li>
        ))
      }
    </ul>
  </div>

  <dialog
    data-what-to-do-dialog
    class="bg-[linear-gradient(to_right,rgba(0,0,0,.4),rgba(0,0,0,.4)),url(/images/campus-bg.jpg)] bg-no-repeat bg-cover absolute inset-0 w-full h-full overflow-y-auto z-10"
  >
    <div class="wrapper py-24 text-white">
      <header class="flex items-center justify-center relative">
        <h3 class="text-center h2">What's there to do?</h3>
        <button
          type="button"
          class="absolute right-0 hover:text-tertiary-400 transition-colors"
          aria-label="close dialog"
          data-what-to-do-close
        >
          <Icon name="close" class="size-10" />
        </button>
      </header>

      <div role="tablist" class="flex gap-x-8 gap-y-4 flex-wrap mt-8 justify-center">
        {
          items.map((item, index) => (
            <button
              class="font-title uppercase font-bold text-lg md:text-2xl border-b-2 border-spacing-2 border-transparent aria-selected:border-tertiary-400 aria-selected:text-tertiary-400"
              type="button"
              role="tab"
              aria-selected={index === 0 ? "true" : "false"}
              id={`grow-your-faith-tab-${index}`}
              aria-controls={`grow-your-faith-tabpanel-${index}`}
            >
              {item.name}
            </button>
          ))
        }
      </div>

      {
        items.map((item, index) => (
          <div
            id={`grow-your-faith-tabpanel-${index}`}
            role="tabpanel"
            data-tab-value={item.name}
            hidden={index === 0 ? undefined : ""}
            aria-labelledby={`grow-your-faith-tab-${index}`}
          >
            <h4 class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block">
              {item.name}
            </h4>

            <div set:html={item.content} />
          </div>
        ))
      }
    </div>
  </dialog>
</section>

<script>
  let buttons = document.querySelectorAll<HTMLButtonElement>("[data-what-to-do-trigger]");
  let dialog = document.querySelector<HTMLDialogElement>("[data-what-to-do-dialog]");
  let close = dialog?.querySelector<HTMLButtonElement>("[data-what-to-do-close]");
  let tabs = document.querySelectorAll<HTMLButtonElement>('button[role="tab"]');
  let panels = document.querySelectorAll<HTMLDivElement>('[role="tabpanel"]');

  function handleSelectTab(tab: string) {
    let button = Array.from(tabs).find((b) => b.getAttribute("aria-controls") === tab);

    tabs.forEach((tab) => {
      tab.setAttribute("aria-selected", "false");
    });

    panels.forEach((panel) => {
      panel.setAttribute("hidden", "");

      if (panel.getAttribute("id") === tab) {
        panel.removeAttribute("hidden");
        button?.setAttribute("aria-selected", "true");
      }
    });
  }

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      let target = button.getAttribute("data-what-to-do-trigger");

      if (target) {
        handleSelectTab(target);
      }

      dialog?.show();
    });
  });

  window.addEventListener("keydown", (event) => {
    if (event.key === "Escape") {
      dialog?.close();
    }
  });

  close?.addEventListener("click", () => dialog?.close());

  tabs.forEach((tab) => {
    tab.addEventListener("click", (event) => {
      let target = (event.target as HTMLButtonElement).getAttribute("aria-controls");

      if (target) {
        handleSelectTab(target);
      }
    });
  });
</script>
