---
const people = [
  {
    name: "Caleb",
    description:
      "Caleb is the oldest of four siblings. His household income is nearly $60,000 per year and his Student Aid Index (SAI), as calculated by the FAFSA, is $839.",
    basicTuition: "$41,300",
    basicFees: "$940",
    housing: "$6,590",
    food: "$5,800",
    totalTuition: "$54,630",
    giftAids: {
      total: "-$35,492",
      items: [
        "Provost Scholarship — $16,000",
        "Dean’s Scholarship — $1,000",
        "Messiah University Grant — $5,937",
        "Pell Grant — $6,555",
        "PA State Grant — $5,000",
        "SEOG — $1,000",
      ],
    },
    federalLoans: "-$5,500",
    totalAid: "-$40,992",
    final: "$13,638",
  },
  {
    name: "Madison",
    description:
      "Madison has one younger sibling with a household income of about $110,000 per year and her Student Aid Index (SAI), as calculated by the FAFSA, is $21,997.",
    basicTuition: "$41,300",
    basicFees: "$940",
    housing: "$6,590",
    food: "$5,800",
    totalTuition: "$54,630",
    giftAids: {
      total: "-$22,489",
      items: [
        "Provost Scholarship — $16,000",
        "Dean’s Scholarship — $1,000",
        "Messiah University Grant — $5,937",
        "Pell Grant — $0",
        "PA State Grant — $0",
      ],
    },
    federalLoans: "-$5,500",
    totalAid: "-$27,989",
    final: "$26,641",
  },
  {
    name: "Jordan",
    description:
      "Jordan has two younger siblings with a household income of about $170,000 per year and total family non-retirement assets (student and parents) of about $45,000. Jordan’s Student Aid Index (SAI), as calculated by the FAFSA, is $46,687.",
    basicTuition: "$41,300",
    basicFees: "$940",
    housing: "$6,590",
    food: "$5,800",
    totalTuition: "$54,630",
    giftAids: {
      total: "-$17,000",
      items: [
        "Provost Scholarship — $16,000",
        "Dean’s Scholarship — $1,000",
        "Messiah University Grant — $0",
        "Pell Grant — $0",
        "PA State Grant — $0",
      ],
    },
    federalLoans: "-$5,500",
    totalAid: "-$22,500",
    final: "$32,130",
  },
];
---

<section class="max-w-6xl mx-auto px-4 py-16 md:py-24">
  <h2 class="h2 text-primary-800 text-center">Examples of Financial Aid</h2>

  <div
    x-data="{
      selected: null,

      init() {
        this.$nextTick(() => this.selected = this.$id('tab', 1));
      },

      select(id) {
        this.selected = id;

        if (!this.isInViewport(this.$refs.panels) && this.isMobileView()) {
          this.$refs.panels.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
      },

      isInViewport(el) {
        const rect = el.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      },

      isMobileView() {
        return window.matchMedia('(max-width: 768px)').matches;
      },

      isSelected(id) {
        return this.selected === id;
      },

      whichChild(el, parent) {
        return Array.from(parent.children).indexOf(el) + 1;
      }
    }"
    x-id="['tab']"
  >
    <ul
      x-ref="tablist"
      @keydown.right.prevent.stop="$focus.wrap().next()"
      @keydown.left.prevent.stop="$focus.wrap().prev()"
      @keydown.home.prevent.stop="$focus.first()"
      @keydown.end.prevent.stop="$focus.last()"
      role="tablist"
      class="flex gap-2 my-8 flex-col md:flex-row"
    >
      {
        people.map((tab) => (
          <li class="flex-1">
            <button
              @click="select($el.id)"
              @focus="select($el.id)"
              :aria-selected="isSelected($el.id)"
              :tabindex="isSelected($el.id) ? 0 : -1"
              :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
              type="button"
              role="tab"
              class="font-title uppercase w-full font-bold text-2xl text-gray-400 py-4 md:py-8 border-b-4 border-gray-300 aria-selected:border-primary-800 aria-selected:text-primary-800"
            >
              Meet {tab.name}
            </button>
          </li>
        ))
      }
    </ul>

    <div x-ref="panels">
      {
        people.map((tab) => (
          <div
            role="tabpanel"
            x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
            :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
          >
            <p class="paragraph mb-4">{tab.description}</p>

            <h3 class="h3 text-primary-800">
              Tuition and Fees – <span class="font-normal">2024-2025 Academic Year</span>
            </h3>

            <ul class="mb-8">
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Basic tuition</span>
                <span class="font-bold ml-auto">{tab.basicTuition}</span>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Basic fees</span>
                <span class="text-base">
                  (minimum amount Student Government Association and student service fees)
                </span>
                <span class="font-bold ml-auto">{tab.basicFees}</span>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Housing</span>
                <span class="text-base">(double occupancy)</span>
                <span class="font-bold ml-auto">{tab.housing}</span>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Food</span>
                <span class="text-base">(maximum costs)</span>
                <span class="font-bold ml-auto">{tab.food}</span>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Total tuition, fees, housing, and food</span>
                <span class="font-bold ml-auto">{tab.totalTuition}</span>
              </li>
              <li class="border-t border-tertiary-300 text-xl py-3">
                <div class="flex items-center gap-4 mb-2">
                  <span class="font-bold">Total gift aid</span>
                  <span class="font-bold ml-auto">{tab.giftAids.total}</span>
                </div>
                <ul class="ml-8 text-base">
                  {tab.giftAids.items.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Federal loans</span>
                <span class="font-bold ml-auto">{tab.federalLoans}</span>
              </li>
              <li class="flex items-center gap-4 border-t border-tertiary-300 text-xl py-3">
                <span class="font-bold">Total Aid</span>
                <span class="font-bold ml-auto">{tab.totalAid}</span>
              </li>
              <li class="flex items-center gap-4 border-t-4 border-tertiary-300 py-3 font-bold text-primary-800 uppercase md:text-2xl">
                <span>{tab.name}'s cost after financial aid</span>
                <span class="ml-auto">{tab.final}</span>
              </li>
            </ul>

            <p class="paragraph mb-4">
              *Students in these examples are from the highest academic tiers. Please keep in mind
              that these are only a few sample cases. Each student’s financial information is reviewed
              on an individual basis. Financial aid packages may differ from those listed above.
            </p>

            <p class="paragraph">
              For the best estimate of your cost, please use our Net Price Calculator.
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
