---
import TabbedDialog from "../../../components/tabbed-dialog.astro";
import Youtube from "../../../components/youtube.astro";

const items = [
  {
    name: "Career",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-1b.png",
    description:
      "From your first year to senior year, our career professionals help you determine your strengths, select a major, weigh your options, network with professionals, find internships and research graduate school and employment opportunities.",
    video: {
      image: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/ao-50-career.jpg",
      id: "noqir6a6BRg",
      alt: "",
    },
    buttons: [
      {
        label: "Internship program",
        href: "https://www.messiah.edu/info/23064/internship_program",
      },
      {
        label: "Center for career and professional development",
        href: "https://www.messiah.edu/info/23055/career_and_professional_development_center",
      },
      {
        label: "Experiential learning",
        href: "https://www.messiah.edu/eli",
      },
    ],
  },
  {
    name: "Research",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-2.png",
    description:
      "Messiah University offers students a wide range of exciting and meaningful research opportunities across all academic programs. Our low faculty-to-student ratio makes Messiah an ideal place for you to collaborate with classmates, faculty, alumni and regional, national and global organizations.",
    image: {
      src: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/ao-research-video.jpg",
      alt: "",
    },
    buttons: [
      {
        label: "Student research at Messiah",
        href: "https://www.messiah.edu/homepage/3722/undergraduate_research",
      },
    ],
  },
  {
    name: "Global and service",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-3.png",
    description:
      "Your college experience expands beyond our campus. Whether serving with a local partner nonprofit organization in nearby Harrisburg, doing construction in Appalachia on spring break, studying abroad in England for a semester or traveling on service and missions trips to Central America or Africa in early summer, you'll have ample opportunities to become a global citizen.",
    image: {
      src: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/ao-global.jpg",
      alt: "",
    },
    buttons: [
      {
        label: "Study abroad",
        href: "https://www.messiah.edu/study-abroad",
      },
      {
        label: "Center for local & global engagement",
        href: "https://www.messiah.edu/agape",
      },
    ],
  },
  {
    name: "Merit",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-4.png",
    description:
      "In addition to a thriving University Honors Program, Messiah makes available a faculty advisor to assist exceptional undergraduate students with applying for prestigious competitive national scholarships and fellowships like the Rhodes, Boren and Fulbright.",
    image: {
      src: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/honors-video.jpg",
      alt: "",
    },
    buttons: [
      {
        label: "National scholarship competition",
        href: "https://www.messiah.edu/info/21079/national_scholarship_competitions",
      },
      {
        label: "University honors program",
        href: "https://www.messiah.edu/info/20098/college_honors_program",
      },
    ],
  },
  {
    name: "Sustainability",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-5.png",
    description:
      "Environmental stewardship isn’t just a trend at Messiah; it’s a way of life. Our extensive sustainability efforts include a bachelor’s degree in sustainability studies and initiatives such as a student-run organic garden, campus wide composting, one of the nation’s largest solar thermal systems and restoration and preservation of the on-campus Yellow Breeches Creek.",
    image: {
      src: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/ao-50-sustainability.jpg",
      alt: "",
    },
    buttons: [
      {
        label: "Sustainability at Messiah",
        href: "https://www.messiah.edu/sustainability/",
      },
    ],
  },
  {
    name: "Diversity",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/circle-img-6b.png",
    description:
      "In addition to U.S. students from a variety of racially and ethnically diverse backgrounds, Messiah welcomes students from over 30 different countries. Our goal is to bring together students from different backgrounds who reflect the variety and richness within God’s kingdom. We continually learn from each other, which promotes a vital, intercultural educational experience.",
    image: {
      src: "https://www.messiah.edu/site/custom_scripts/styles/img/academics/ao-diversity.jpg",
      alt: "",
    },
    buttons: [
      {
        label: "Diversity affairs",
        href: "https://www.messiah.edu/info/20725/diversity_affairs",
      },
      {
        label: "Agape Center for local & global engagement",
        href: "https://www.messiah.edu/agape",
      },
    ],
  },
];
---

<section
  class="bg-[url(/images/why-messiah-bg-ug.jpg)] bg-no-repeat bg-cover py-24 relative scroll-m-24"
  id="academic-opportunities"
>
  <div class="wrapper">
    <h2 class="text-white h2 text-center">Academic opportunities</h2>
    <p class="text-white text-center paragraph mx-auto max-w-4xl">
      Students at Messiah enhance their classroom experiences by taking advantage of a rich variety
      of campus resources and opportunities that help prepare them to lead lives of service,
      leadership and reconciliation.
    </p>

    <ul class="grid grid-cols-2 md:grid-cols-3 gap-8 my-16">
      {
        items.map((item, index) => (
          <li>
            <button
              data-tabbed-dialog-trigger={`tabbed-dialog-tabpanel-${index}`}
              type="button"
              class="text-white group font-title w-full font-bold text-center text-xl sm:text-2xl md:text-3xl flex flex-col items-center"
            >
              <img
                src={item.preview}
                alt=""
                class="mb-2 rounded-full group-hover:opacity-75 transition-opacity"
              />
              {item.name}
            </button>
          </li>
        ))
      }
    </ul>
  </div>

  <TabbedDialog
    tabs={items}
    title="Why Messiah?"
    class="bg-[url(/images/why-messiah-bg-grad.jpg)] bg-no-repeat bg-cover bg-primary-950"
  >
    {
      items.map((item, index) => (
        <div
          id={`tabbed-dialog-tabpanel-${index}`}
          role="tabpanel"
          data-tab-value={item.name}
          hidden={index === 0 ? undefined : ""}
          aria-labelledby={`tabbed-dialog-tab-${index}`}
        >
          <h4 class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block">
            {item.name}
          </h4>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <p class="paragraph mb-4">{item.description}</p>

              <div class="flex flex-wrap gap-2">
                {item.buttons.map((button) => (
                  <a href={button.href} class="btn-quaternary">
                    {button.label}
                  </a>
                ))}
              </div>
            </div>

            {item.image ? (
              <img
                src={item.image.src}
                alt={item.image.alt}
                class="w-full aspect-video object-cover"
              />
            ) : null}

            {item.video ? (
              <Youtube
                videoId={item.video.id}
                litebox
                preview={item.video.image}
                alt={item.video.alt}
              />
            ) : null}
          </div>
        </div>
      ))
    }
  </TabbedDialog>
</section>
