---
import Youtube from "../../components/youtube.astro";
import TabbedDialog from "../../components/tabbed-dialog.astro";

const items = [
  {
    name: "Chapel",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/gyf-1.webp",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/chapel-img.webp" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">Chapel is a central expression of our identity as a Christ-centered community with a deep commitment to spiritual growth and academic excellence. It is a required cocurricular opportunity that exposes you to various forms of worship, speakers and ideas.</p>

      <p class="mb-4 paragraph">Chapel is offered on <strong>Tuesday morning, Tuesday evening</strong> and <strong>Thursday morning</strong> and is designed to strengthen biblical literacy and faith formation within the Messiah University community.</p>

      <p class="mb-4 paragraph">Some chapels are marked by dynamic student-led worship music, prayer and a brief message from a speaker such as student chaplain, campus pastor, academic scholar, notable leader or individuals from outside organizations.</p>

      <p class="mb-4 paragraph">Other chapels feature a more intimate, contemplative setting of worship and intellectual reflection on the Christian faith and life. Another chapel option is a small group atmosphere in which students commit to meet for five-six weeks to discuss and explore a specific topic or book or learn about and engage in a spiritual discipline. These chapels are led by Messiah educators and other invited guests.</p>

      <p class="paragraph"><strong>Students are expected to attend 14 approved chapel opportunities each semester.</strong> You are free to choose the chapels in which you will participate to fulfill that requirement. For all chapels, you will record your attendance electronically with your student I.D. card.</p>

      <div class="flex gap-2 flex-wrap mt-4"> 
        <a class="btn-tertiary" href="https://www.messiah.edu/info/20052/chapel">Find out more about chapel</a>
        <a class="btn-tertiary" href="https://www.messiah.edu/info/21000/chapel_schedule">Chapel schedule</a>
      </div>
    `,
  },
  {
    name: "Student-led worship",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/gyf-2.webp",
    content: `
      <p class="mb-4 paragraph">At Messiah, you'll have the opportunity to grow your faith and become a spiritual leader. One area where you can combine the two is through student-led worship. Choose from leading or participating in groups ranging from student chaplains and small group Bible studies, to music ministry groups, dance ministries and other worship arts. Our student ministry leaders strive to help the entire campus community commit to a life of faithful discovery and service to Jesus Christ. At Messiah, you’ll find there are numerous ways to learn and grow together with your friends and classmates.</p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div>
          <h4 class="h4 mb-4">Acclamation</h4>
          <p class="paragraph">Acclamation Dance Ministry provides an outlet for students who share an interest in dance as both a medium of worship and an opportunity for ministry to others through creative expression.</p>
        </div>
        <div>
          <h4 class="h4 mb-4">Powerhouse</h4>
          <p class="paragraph mb-4">On Thursday evenings, students pack out Hostetter Chapel eagerly anticipating the time of corporate worship and reflection known as Powerhouse. Though attendance is purely optional, Powerhouse never fails to fill the chapel with students ready to worship God together.</p>

          <p class="paragraph mb-4">Powerhouse began as a small student-led Bible study. Today, Powerhouse is still primarily student-initiated and student-led, but has grown to include a team of worship leaders who have devoted their talents to honoring and responding to God through music. It is more than just another weekly event that students add to their schedules. It is a diverse community of worshipers who come together weekly to praise and worship God in a powerful way through shared music and prayer. 
          </p>

          <a href="https://www.messiah.edu/info/20055/worship/2940/powerhouse" class="btn-tertiary">Read more</a>
        </div>
        <div>
          <h4 class="h4 mb-4">Seven</h4>
          <p class="paragraph mb-4">A cross-section of Messiah University students forms Seven, a group of musicians who share not only musical talent and skill but a heart to share Jesus through musical worship and creativity. Seven collaborates to write music, perform concerts and lead worship in a variety of settings and contexts, both on and off campus.</p>

          <a href="https://www.messiah.edu/homepage/728/seven" class="btn-tertiary">Read more</a>
        </div>
      </div>
    `,
  },
  {
    name: "Small groups and bible studies",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/gyf-3.webp",
    content: `
      <img src="https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/small-group.jpg" alt="" class="float-right ml-4 mb-4 w-1/3">

      <p class="mb-4 paragraph">Small groups and Bible studies give you the opportunity to connect with your peers in a more informal setting. The University’s main small-group ministry on campus, propelled by student leaders, is Koinonia--dedicated to small group ministry, leadership training and relationship building. A core team provides leadership, structure, accountability and intergenerational contact in order to equip students to create and run their own small group Bible studies. You can create your own group or join an existing group.</p>

      <div class="flex gap-2 flex-wrap mt-4"> 
        <a class="btn-tertiary" href="https://www.messiah.edu/info/20053/opportunities">View a full list of opportunities to get involved</a>
      </div>
    `,
  },
];
---

<section
  class="bg-[url(/images/grow-your-faith-bg.jpg)] bg-no-repeat bg-cover py-24 relative scroll-m-24"
  id="grow-your-faith"
>
  <div class="wrapper">
    <h2 class="text-white h2 text-center">Grow your faith</h2>
    <p class="text-white text-center paragraph mx-auto max-w-4xl">
      At Messiah, we want you to grow in your faith and have a passion for Christian community. Join
      a small group. Find a personal mentor. Challenge yourself in a campus ministry role. From the
      first day you step on campus to your last, we hope your time at Messiah is a time of growth
      for you spiritually and academically, and a time where you’ll learn to explore and deepen your
      core convictions and Christian beliefs. <a
        href="https://www.messiah.edu/info/20051/college_ministries"
        class="underline link">The Office of Campus Ministries</a
      > coordinates many programs and resources to help you take the next step in your faith journey
      at Messiah.
    </p>

    <ul class="grid grid-cols-2 md:grid-cols-3 gap-8 my-16">
      {
        items.map((item, index) => (
          <li>
            <button
              data-tabbed-dialog-trigger={`tabbed-dialog-tabpanel-${index}`}
              type="button"
              class="text-white group font-title w-full font-bold text-center text-xl sm:text-2xl md:text-3xl flex flex-col items-center"
            >
              <img
                src={item.preview}
                alt=""
                class="mb-2 rounded-full group-hover:opacity-75 border-4 border-white transition-opacity"
              />
              {item.name}
            </button>
          </li>
        ))
      }
    </ul>

    <Youtube
      src="https://www.youtube.com/watch?v=u17oiOgv5WU"
      preview="https://www.messiah.edu/site/custom_scripts/styles/img/faith-and-service/grow-your-faith-video-bg.webp"
      class="max-w-4xl mx-auto"
    />
  </div>

  <TabbedDialog
    tabs={items}
    title="Grow your faith"
    class="bg-[linear-gradient(to_right,rgba(0,0,0,.4),rgba(0,0,0,.4)),url(/images/grow-your-faith-bg.jpg)] bg-no-repeat bg-cover bg-primary-950"
  >
    {
      items.map((item, index) => (
        <div
          id={`tabbed-dialog-tabpanel-${index}`}
          role="tabpanel"
          data-tab-value={item.name}
          hidden={index === 0 ? undefined : ""}
          aria-labelledby={`tabbed-dialog-tab-${index}`}
        >
          <h4 class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/4 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/4 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block">
            {item.name}
          </h4>

          <div set:html={item.content} />
        </div>
      ))
    }
  </TabbedDialog>
</section>
