---
import { cn } from "../../lib/utils";

const facilityItems = [
  {
    name: "Cardio",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Cardio</h5><p class="paragraph">Our fitness center holds over 120 pieces of cardiovascular equipment, including Precor upright bikes, recumbent bikes, treadmills, ellipticals and adaptive motion trainers. You can create a Preva account to track your workouts over time. In addition, we offer rowers, a Jacobs Ladder and Assault Air bikes for those who love interval and high intensity training.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_1.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_1.jpg",
      alt: "",
    },
  },
  {
    name: "Strength training",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Strength training</h5><p class="paragraph">Are you looking for resistance training? We have all the right equipment for you! Our fitness center offers dumbbells ranging from 3 to 125 lbs., eight power racks, multiple air-powered Kieser cable machines, a plate circuit, a machine circuit and a functional Queenex frame complete with TRX suspension trainers, battle ropes and kettlebells.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_2.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_2.jpg",
      alt: "",
    },
  },
  {
    name: "Frederickson Natatorium",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Frederickson Natatorium</h5><p class="paragraph">Located on the ground floor of Sollenberger Sports Center, and home to Messiah’s swim teams, the Fredricksen Natatorium includes eight 25-yard lanes and updated bleacher seating.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_5.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_5.jpg",
      alt: "",
    },
  },
  {
    name: "Sollenberger Sports Center",
    href: "https://www.youtube.com/watch?v=uWnKT_UkLv4",
    image: {
      src: "https://www.messiah.edu/images/fitness_3.jpg",
      alt: "",
    },
  },
  {
    name: "Tennis court",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Tennis court</h5><p class="paragraph">Criste Courts are six match-quality tennis courts (hard), plus four additional recreational courts. While providing the student body and community with a recreational tennis venue, the courts are also home to the Falcons’ men’s and women’s tennis teams.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_6.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_6.jpg",
      alt: "",
    },
  },
  {
    name: "Outdoor track",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Outdoor track</h5><p class="paragraph">The Starry outdoor track, surfaced with cushion, is used for recreation and sports team such as track and field.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_7.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_7.jpg",
      alt: "",
    },
  },
  {
    name: "Fitness trail",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Fitness trail</h5><p class="paragraph">With its picturesque setting, mulched pathways, and frequently spotted wildlife, the Stabler Fitness Trail gives you the perfect setting for a serene and peaceful workout.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_8.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_8.jpg",
      alt: "",
    },
  },
  {
    name: "Jordan Court",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Jordan Court</h5><p class="paragraph">The newly-renovated arena, which hosts our basketball and volleyball games, seats more than 1,600 fans in the facility and holds a hanging scoreboard, as well as a state-of-the-art videoboard.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_10.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_10.jpg",
      alt: "",
    },
  },
  {
    name: "Yellow Breeches",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Yellow Breeches</h5><p class="paragraph">The Yellow Breeches are an icon here at Messiah University. You will often see students tubing down the breeches or splashing their feet in the water to cool off on a warm day.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_4.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_4.jpg",
      alt: "",
    },
  },
  {
    name: "Group fitness",
    description:
      '<h5 class="uppercase mb-2 font-title font-bold text-xl">Group fitness</h5><p class="paragraph">Do you enjoy taking group fitness classes? With our certified and well-experienced instructors, you will be challenged and motivated to work out in a group setting. Varying on the semester, you have the option to take classes such as spin, core class, pilates, gentle yoga, active yoga, no-machine resistance training and aquatics.</p>',
    href: "https://www.messiah.edu/images/fitness_lb_9.jpg",
    image: {
      src: "https://www.messiah.edu/images/fitness_9.jpg",
      alt: "",
    },
  },
];

const groupFitnessItems = [
  {
    name: "Spin class",
    description:
      "Spin is an indoor cycle ride and is a great way to challenge your fitness and burn calories. Tackle mountains, rolling hills, sprints and other fun drills to keep your body and mind engaged!",
    image: {
      src: "https://www.messiah.edu/images/fitness_slide_1.jpg",
      alt: "",
    },
  },
  {
    name: "Core class",
    description:
      "The core class encompasses a lot more than your “six pack abs.” This class will challenge all aspects of your core using body weight-only exercises, stability balls, medicine balls, core bags and other unique equipment.",
    image: {
      src: "https://www.messiah.edu/images/fitness_slide_2.jpg",
      alt: "",
    },
  },
  {
    name: "Pilates",
    description:
      "Pilates provides an opportunity to exercise the entire body and renew the mind. Pilates is a meaningful way to recharge physically and mentally before heading into the remainder of the afternoon.",
    image: {
      src: "https://www.messiah.edu/images/fitness_slide_3.jpg",
      alt: "",
    },
  },
  {
    name: "Yoga",
    description:
      "An emphasis is placed on creating a connection between movement and breath. Yoga also focuses on building awareness of mind, body, and breath.",
    image: {
      src: "https://www.messiah.edu/images/fitness_slide_4.jpg",
      alt: "",
    },
  },
];
---

<section class="bg-primary-800 text-white py-24 text-center scroll-m-24" id="physical-fitness">
  <div class="wrapper">
    <h2 class="h2">Physical fitness</h2>

    <h3
      class="h3 after:h-2 after:w-24 after:bg-tertiary-400 relative after:absolute after:top-full after:left-1/2 after:-translate-x-1/2 pb-4"
    >
      Our facilities
    </h3>
    <p class="paragraph mt-12">
      Whether you’re training for a race or want to play a spontaneous game with friends, our
      fitness facilities offer a variety of spaces to help you stay active! Between our Sollenberger
      Sports Center and our outdoor venues, we offer four basketball courts, an indoor track and
      fitness center, a natatorium, racquetball courts, outdoor tennis and volleyball courts, and
      our well-used fitness trail.
    </p>

    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 my-12">
      {
        facilityItems.map((item, index) => (
          <figure
            class={cn({
              "col-span-2": index === 2 || index === 8,
              "col-span-2 sm:row-span-2": index === 3,
              "sm:row-span-2": index === 7,
            })}
          >
            <a
              href={item.href}
              data-caption={item.description}
              data-name={item.name}
              data-fancybox="physical-fitness-gallery"
              class="w-full h-full block relative after:content-[attr(data-name)] after:p-2 after:absolute after:inset-0 after:bg-tertiary-400/90 after:flex after:items-center after:justify-center after:font-title after:uppercase after:font-bold md:after:text-2xl after:text-xl after:opacity-0 hover:after:opacity-100 after:transition-opacity"
            >
              <img src={item.image.src} alt={item.image.alt} class="w-full h-full object-cover" />
            </a>
          </figure>
        ))
      }
    </div>

    <h3
      class="h3 after:h-2 after:w-24 after:bg-tertiary-400 relative after:absolute after:top-full after:left-1/2 after:-translate-x-1/2 pb-4"
    >
      Group fitness
    </h3>
    <p class="paragraph mt-12">
      Group fitness classes at the Falcon Fitness Center are a great way to enjoy a workout and try
      something new. From relaxing, slow-paced stretching to heart-pumping intensity, Messiah offers
      students and employees a range of fitness classes to suit anyone’s needs. Messiah only hires
      instructors who are certified and well experienced to give our visitors the best experience
      possible.
    </p>
    <a
      href="https://www.messiah.edu/info/22902/group_exercise_classes"
      class="btn-secondary text-primary-800 my-8">View full list of group classes</a
    >

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      {
        groupFitnessItems.map((item) => (
          <figure class="bg-white p-2 group">
            <div
              data-description={item.description}
              class="relative after:text-sm after:content-[attr(data-description)] after:p-2 after:absolute after:inset-0 after:bg-tertiary-400/90 after:opacity-0 group-hover:after:opacity-100 after:transition-opacity"
            >
              <img src={item.image.src} alt={item.image.alt} class="w-full" />
            </div>
            <figcaption class="text-primary-800 font-title font-bold text-xl py-2 uppercase">
              {item.name}
            </figcaption>
          </figure>
        ))
      }
    </div>
  </div>
</section>

<script>
  import { Fancybox } from "@fancyapps/ui";

  Fancybox.bind("[data-fancybox]", {
    caption: (_, slide, caption) => {
      return `
          <div style="${slide.imageEl ? `max-width: ${slide.imageEl.offsetWidth > 0 ? `${slide.imageEl.offsetWidth}px` : "auto"}` : ""}">${caption}</div>
        `;
    },
  });
</script>
