---
interface Props {
  randomStart?: boolean;
}

const slides = [
  {
    title: "30+ graduate degree programs and certificates",
    description:
      "Various program formats available to fit the needs of working adults.",
    button: "Become a student",
    image: "https://www.messiah.edu/images/become_a_student_grad.jpg",
    links: [
      {
        href: "https://www.messiah.edu/info/22860/degrees_and_certificates",
        label: "View grad programs",
      },
    ],
    type: 'graduate',
  },
  {
    title: "Join us for a fall open house!",
    description:
      "Come visit to explore our academic programs, experience campus culture, take a campus tour and see what it means to be part of the Messiah community. And, of course, lunch is on us!",
    button: "Become a student",
    image: "https://www.messiah.edu/images/students_on_sidewalk.jpg",
    links: [
      {
        href: "https://www.messiah.edu/openhouse?element=homepage-carousel",
        label: "Learn more",
      },
    ],
    type: 'undergraduate',
  },
  {
    title: "Academic Excellence",
    description: "Experience the academic distinction of a nationally ranked Christian college",
    image: "https://www.messiah.edu/images/hero_academics.jpg",
    button: "Academic excellence",
    links: [
      {
        href: "https://www.messiah.edu/majors-minors-programs",
        label: "Undergrad programs",
      },
      {
        href: "http://www.messiah.edu/info/20436/degrees",
        label: "Graduate programs",
      },
    ],
  },
  {
    title: "Careers and Internships",
    description: "Explore your calling — from your first year through graduation",
    button: "Careers & internships",
    image: "https://www.messiah.edu/images/career_hero.jpg",
    links: [
      {
        href: "https://www.messiah.edu/career-outcomes",
        label: "Undergrad outcomes",
      },
      {
        href: "https://www.messiah.edu/grad-careers",
        label: "Graduate outcomes",
      },
    ],
  },
  {
    title: "Study Abroad",
    description: "Where in the world will you go?",
    button: "Study abroad",
    image: "https://www.messiah.edu/images/travel_hero.jpg",
    links: [
      {
        href: "https://www.messiah.edu/study-abroad",
        label: "Explore undergrad opportunities",
      },
    ],
  },
];

const { randomStart  = false } = Astro.props;
const studentType = Astro.cookies.get("mc_student_type")?.value || "undergraduate";

function getSlidesByCookie() {
  return slides.filter((slide) => {
    if (!slide.type) {
      return true;
    }

    return slide.type === studentType;
  });
}

function getFirstSlide() {
  if (randomStart) {
    return Math.floor(Math.random() * getSlidesByCookie().length) + 1;
  }

  return 1;
}
---

<div
  class="relative flex flex-col-reverse -mt-48"
  data-analytics="hero"
  x-data={`{
    selected: null,

    init() {
      const shouldStartAtFirstSlide = localStorage.getItem('mc_slider_start_first') === 'true';

      this.$nextTick(() => this.select(this.$id('tab', shouldStartAtFirstSlide ? 1 : ${getFirstSlide()})));

      localStorage.removeItem('mc_slider_start_first');
    },

    select(id) {
      this.selected = id;
    },

    isSelected(id) {
      return this.selected === id;
    },

    whichChild(el, parent) {
      return Array.from(parent.children).indexOf(el) + 1;
    }
  }`}
  x-id="['tab']"
>
  <ul
    x-ref="tablist"
    @keydown.right.prevent.stop="$focus.wrap().next()"
    @keydown.left.prevent.stop="$focus.wrap().prev()"
    @keydown.home.prevent.stop="$focus.first()"
    @keydown.end.prevent.stop="$focus.last()"
    role="tablist"
    class="hidden sm:flex absolute bottom-0 left-0 right-0 sm:bg-gradient-to-t from-black/75 to-transparent items-center flex-wrap"
  >
    {
      getSlidesByCookie().map((slide) => (
        <li class="w-full sm:w-1/2 md:w-1/4 flex justify-center">
          <button
            @click="select($el.id)"
            @focus="select($el.id)"
            :aria-selected="isSelected($el.id)"
            :tabindex="isSelected($el.id) ? 0 : -1"
            :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
            type="button"
            role="tab" 
            class="text-white text-lg uppercase p-4 md:p-8 link text-center font-title font-bold aria-selected:text-tertiary-400 group"
          >
            <span class="inline-block border-b-4 border-transparent group-aria-selected:border-tertiary-400 pointer-events-none">
              {slide.button}
            </span>
          </button>
        </li>
      ))
    }
  </ul>

  <div>
    {
      getSlidesByCookie().map((slide) => (
        <div
          role="tabpanel"
          x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
          :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
          class="w-full flex h-[calc(100vh_+_6rem)] md:h-[calc(90vh_+_8rem)] max-h-[1200px] min-h-[500px] items-end sm:items-center bg-primary-800 bg-[linear-gradient(to_bottom,rgba(0,0,0,0.75),transparent),var(--bg-banner)] bg-cover bg-no-repeat pb-4 sm:pb-0"
          style={{ "--bg-banner": `url(${slide.image})` }}
        >
          <div class="max-w-[2100px] mx-auto px-4 lg:px-12 w-full">
            <p class="text-white h2 max-w-2xl">{slide.title}</p>
            <p class="text-white text-lg md:text-xl max-w-xl mb-8">{slide.description}</p>
            <div class="flex gap-2">
              {slide.links.map((link) => (
                <a href={link.href} class="btn-secondary">
                  {link.label}
                </a>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
