---
import Icon from "../components/icon.astro";
import SingleColumn from "../layouts/single-column.astro";

const entries = [

{
    title: "Kim Phipps serves as interim president",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2004-interim.jpg[/system-asset]",
    year: "July – December",
    description: "Kim Phipps serves as interim president of Messiah College following the retirement of President Rodney Sawatsky",
  },
    {
    title: "Created and Called for Community",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2004-core.jpg[/system-asset]",
    year: "2004",
    description: "Launch of the new first-year core curriculum and co-curriculum that is holistic, student-centered and focused on the College’s mission and identity — including introducing the core course “Created and Called for Community” and a first-year common reading experience",
  },
    {
    title: "The Board of Trustees names Kim S. Phipps",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2004-bot.jpg[/system-asset]",
    year: "December 14, 2004",
    description: "The Board of Trustees names Kim S. Phipps as the 8th president of Messiah College",
  },
{
    title: "Inauguration of President Phipps",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2005-inauguration.jpg[/system-asset]",
    year: "October 14, 2005",
    description: "Messiah celebrates the inauguration of President Phipps with a weeklong schedule of special events for students, employees, alumni, community members and friends — culminating with the inauguration ceremony and festivities.",
  },
  {
    title: "Athletics History",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/Phipps-2005-Soccer.jpg[/system-asset]",
    year: "2005",
    description:
      "Messiah makes athletics history by becoming the first NCAA Division III soccer program to win the men's and women's championships in the same year.",
  },
  {
    title: "$50.5 million raised",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/Phipps-2005-Campaign.jpg[/system-asset]",
    year: "2005",
    description: "Completion of the To Serve and To Lead Campaign ($50.5 million) — Messiah's largest campaign to date — including the construction of Boyer Hall, Larsen Student Union, and the expansion of Climenhaga Fine Arts Building.",
  },
  {
    title: "National Endowment for the Humanities",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/Phipps-2006.jpg[/system-asset]",
    year: "2006",
    description:
      "The Center for Public Humanities receives a competitive $200,000 grant from the National Endowment for the Humanities.",
  },
  {
    title: "Online course offerings",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/Phipps-2008-MessiahOnline.jpg[/system-asset]",
    year: "2008",
    description:
      "Launch of Messiah's first online undergraduate courses (Messiah Summer Online) with 18 courses enrolling 222 students.",
  },
  {
    title: "Compassion Forum",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/Phipps-2008-CompassionForum.jpg[/system-asset]",
    year: "2008",
    description: "Messiah hosts the Compassion Forum, a nationally televised, unprecedented conversation with presidential candidates, Hillary Clinton and Barack Obama, on the integration of faith and public policy.",
  },

  {
    title: "First graduate program launches",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2009-macounseling.jpg[/system-asset]",
    year: "2009",
    description: "Messiah launches its first graduate program — an online Master of Arts in counseling",
  },
  {
    title: "See anew campaign",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2010.jpg[/system-asset]",
    year: "2010",
    description: "Messiah launches its “see anew” brand campaign.",
  },
  {
    title: "Diversity Strategic Plan launches",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2011-diversity.jpg[/system-asset]",
    year: "2011",
    description: "Messiah establishes the Office of Diversity Affairs and launches its first campus wide Diversity Strategic Plan.",
  },
  {
    title: "50 years of NCAA althetics",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2012.jpg[/system-asset]",
    year: "2012",
    description: "Messiah celebrates 50 years of NCAA intercollegiate athletics.",
  },

 {
    title: "Centennial Campaign",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2013.jpg[/system-asset]",
    year: "2013",
    description: "Completion of the $46.2 million Centennial Campaign— culminating in the opening of the Calvin and Janet High Center for Worship and Performing Arts",
  },
  {
    title: "American Degree Transfer Program",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2014.jpg[/system-asset]",
    year: "2014",
    description: "Messiah and the Methodist College of Kuala Lumpur partner to launch an American Degree Transfer Program, with Messiah as their Christian college anchor.",
  },
  {
    title: "Messiah launches first doctoral degree",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2015-dnp.jpg[/system-asset]",
    year: "2015",
    description: "Launch of Messiah’s first doctoral degree, a Doctor of Nursing Practice (DNP) program",
  },
  {
    title: "Winding Hill facility opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2016-windinghill.jpg[/system-asset]",
    year: "2016",
    description: "Messiah opens its Winding Hill facility to house its new Master of Occupational Therapy and Doctor of Physical Therapy programs.",
  },
  {
    title: "Falcon Fitness Center opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2016-campaign.jpg[/system-asset]",
    year: "",
    description: "Completion of the $6.5 million Campaign for Wellness — resulting in the opening of the Falcon Fitness Center and renovations to Sollenberger Sports Center (including Jordan Court, Sawyer Gymnasium and Fredricksen Natatorium)",
  },
 {
    title: "Finance Lab opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2017.jpg[/system-asset]",
    year: "2017",
    description: "Opening of the Ralph S. Larsen Finance Lab",
  },

  {
    title: "COVID-19 pandemic response",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2020-covid.jpg[/system-asset]",
    year: "2020",
    description: "Messiah begins its two-year response to the COVID-19 pandemic; keeping students and employees safe, remaining open for an in-person, on-campus educational experience — and providing online learning options for those who need it.",
  },
  {
    title: "First accelerated degree program",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2020-mot.jpg[/system-asset]",
    year: "2020",
    description: "Launch of Messiah’s first accelerated degree program (Master of Occupational Therapy 5-year program)",
  },
  {
    title: "Messiah University",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2020-university.jpg[/system-asset]",
    year: "July 1, 2020",
    description: "Messiah College officially becomes Messiah University",
  },
  {
    title: "Kim S. Phipps Admissions and Welcome Center opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2020-awc.jpg[/system-asset]",
    year: "2020",
    description: "Opening of the Kim S. Phipps Admissions and Welcome Center",
  },

  {
    title: "Cyber Center opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2022-cybercenter.jpg[/system-asset]",
    year: "2022",
    description: "Opening of the Messiah University Cyber Center",
  },
  {
    title: "New office opens",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2023-partnerships.jpg[/system-asset]",
    year: "2023",
    description: "Creation of the Office of University Partnerships and the Bridge Center for Continuing Education",
  },
  {
    title: "Completion of The Campaign for Messiah University",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2023-campaign.jpg[/system-asset]",
    year: "2023",
    description: "Completion of The Campaign for Messiah University: Learning for Life, Transforming the World ($83.4 million) — the largest campaign in the university’s history — funding The Messiah Fund and Scholarship Aid, Scholarship and Program Endowments, and new facilities including the Ralph S. Larsen Finance Lab, the Falcon Fitness Center, Sawyer Gymnasium, Jordan Court in Hitchcock Arena, the Kim S. Phipps Admissions and Welcome Center, an enhanced campus entrance, a renovated Engle Center for Counseling and Health Services, and hospitality and upgraded facilities at the Starry Athletic Complex",
  },
  {
    title: "Engle Center for Counseling and Health Services",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2023-englecenter.jpg[/system-asset]",
    year: "2023",
    description: "Completed expansion and renovation of the Engle Center for Counseling and Health Services",
  },
  {
    title: "Warmer Welcome Campaign Phase I",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2024-sawyer.jpg[/system-asset]",
    year: "2024",
    description: "Completion of Phase I of a Warmer Welcome Campaign (Sawyer Pavilion and Witmer Family Lacrosse Stadium)",
  },
  {
    title: "President Phipps retirement announcement",
    image: "[system-asset]site://Landing Pages/phipps/_images/timeline/phipps-2025-retirement.jpg[/system-asset]",
    year: "2024",
    description: "President Phipps announces her plans to retire at the end of June 2025",
  },
];
---

<SingleColumn title="Kim S. Phipps" description="Kim S. Phipps" image="">
  <div
    class="max-w-7xl mx-auto px-4 py-12"
    x-data="{
      embla: null,
      index: 0,

      init() {
        this.embla = EmblaCarousel(this.$refs.embla, {
          containScroll: false,
        });

        this.embla.on('select', (api) => {
          this.index = api.selectedScrollSnap();
        });
      },

      scrollNext() {
        this.embla.scrollNext();
      },

      scrollPrev() {
        this.embla.scrollPrev();
      },
  }"
  >
    <div
      class="overflow-hidden relative before:absolute before:w-24 md:before:w-56 before:bg-gradient-to-r before:from-transparent before:z-10 before:to-white before:right-0 before:top-0 before:h-full after:absolute after:w-24 md:after:w-56 after:bg-gradient-to-l after:from-transparent after:z-10 after:to-white after:left-0 after:top-0 after:h-full"
      x-ref="embla"
    >
      <div class="flex touch-pan-y gap-8">
        {
          entries.map((entry, index) => (
            <div class="basis-3/5 md:basis-1/3 flex-shrink-0 flex-grow-0 text-center duration-300 transition-all" :class={`${index} === index ? '' : 'scale-90 opacity-60'`}>
              <h3 class="h4 text-primary-800 mb-4 transition-opacity duration-300" :class={`${index} === index ? '' : 'opacity-0'`}>{entry.year}</h3>
              <img src={entry.image} alt={entry.title} class="mb-4" width="420" height="280" />
              <p class="h3 text-primary-800">{entry.title}</p>
              <p class="transition-opacity duration-300" :class={`${index} === index ? '' : 'opacity-0'`}>{entry.description}</p>
            </div>
          ))
        }
      </div>

      <nav>
        <button
          type="button"
          class="absolute top-1/2 -translate-y-1/2 text-gray-700 left-0 z-20 transition-opacity duration-300"
          :class="index === 0 ? 'opacity-0 pointer-events-none' : ''"
          @click="scrollPrev"
        >
          <Icon name="chevron-right" class="size-12 rotate-180" />
        </button>
        <button
          type="button"
          class="absolute top-1/2 -translate-y-1/2 text-gray-700 right-0 z-20 transition-opacity duration-300"
          :class={`index === ${entries.length - 1} ? 'opacity-0 pointer-events-none' : ''`}
          @click="scrollNext"
        >
          <Icon name="chevron-right" class="size-12" />
        </button>
      </nav>
    </div>
  </div>
</SingleColumn>
