---
import Icon from "../icon.astro";

export interface BottomGroup {
  title: string;
  href: string;
  description: string;
  children: {
    title: string;
    href: string;
    heading?: boolean;
  }[][];
}

interface Props {
  group: BottomGroup;
  id: string;
  transparent: boolean;
}

const { group, id, transparent } = Astro.props;
---

<li>
  <button
    type="button"
    aria-expanded="false"
    aria-haspopup="true"
    id={`group-button-${id}`}
    aria-controls={`group-${id}`}
    class:list={[
      "text-lg md:text-base group lg:text-lg xl:text-xl flex items-center gap-x-2 font-bold hover:text-tertiary-400 aria-expanded:after:bg-gray-100 relative md:after:absolute after:top-10 after:h-3 after:left-0 after:right-0 after:transition-colors transition-colors",
      transparent
        ? "md:text-white group-data-[scrolling='true']:text-primary-800 group-data-[scrolling='true']:hover:text-tertiary-400"
        : "text-primary-800",
    ]}
  >
    {group.title}

    <Icon name="chevron-down" class="size-4 group-aria-expanded:rotate-180 transition-transform" />
  </button>

  <div
    id={`group-${id}`}
    class="opacity-0 hidden md:absolute left-0 mt-6 w-full md:bg-gray-100 md:py-12 transition-opacity duration-300 z-30"
    role="region"
    aria-labelledby={`group-button-${id}`}
    aria-hidden="true"
  >
    <div class="mx-auto flex flex-col md:flex-row max-w-6xl gap-6 md:gap-12 md:px-4">
      <div class="md:w-2/5 md:border-r md:border-gray-300 md:pr-12">
        <p class="mb-4 font-serif text-2xl font-bold text-primary-800">
          {group.description}
        </p>

        <a href={group.href} class="btn-quaternary">Start here</a>
      </div>

      {
        group.children.map((child) => (
          <ul class="flex-1 space-y-1">
            {child.map((link) => (
              <li>
                <a
                  href={link.href}
                  class:list={[
                    "link",
                    {
                      "text-primary-800 font-title uppercase font-bold text-xl": link.heading,
                    },
                  ]}
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        ))
      }
    </div>
  </div>
</li>
