---
import Logo from "../logo.astro";
import BottomGroup from "./bottom-group.astro";
import { bottomGroups, topGroups } from "./navigation-data";
import SearchForm from "./search-form.astro";
import TopGroup from "./top-group.astro";

interface Props {
  transparent: boolean;
}

const { transparent } = Astro.props;
---

<div
  class="sticky -top-px before:absolute before:top-0 before:h-2 md:before:h-4 before:w-full before:bg-gradient-to-r before:from-primary-600 data-[scrolling='true']:bg-white before:to-secondary-600 pt-6 md:pt-4 pb-2 md:pb-6 z-30 group transition-colors border-b border-transparent data-[scrolling='true']:border-gray-300"
  data-menu
>
  <header class="mx-auto max-w-6xl px-4">
    <nav class="flex items-center md:items-end flex-wrap">
      <a
        href="#content"
        class="btn-primary fixed left-1/2 top-0 -translate-x-1/2 -translate-y-full focus:translate-y-0"
        >Skip to content</a
      >

      <a
        href="/"
        aria-label="messiah university main page"
        class:list={[
          "mr-auto mt-4",
          transparent
            ? "text-white group-data-[scrolling='true']:text-primary-800 transition-colors"
            : "text-primary-800",
        ]}
      >
        <Logo />
      </a>

      <button
        type="button"
        aria-label="toggle navigation"
        data-menu-toggle
        class:list={[
          "menu-toggle group/trigger group-data-[scrolling='true']:text-primary-800 h-5 w-10 md:hidden relative z-10",
          transparent ? "text-white" : "text-primary-800",
        ]}
      >
        <span
          aria-hidden="true"
          class="absolute group-[.is-open]/trigger:top-[10px] group-[.is-open]/trigger:rotate-[135deg] left-0 top-0 block h-[2px] w-full bg-current transition-all ease-in-out"
        ></span>
        <span
          aria-hidden="true"
          class="absolute left-0 group-[.is-open]/trigger:-left-16 group-[.is-open]/trigger:opacity-0 top-[10px] block h-[2px] w-full bg-current transition-all ease-in-out"
        ></span>
        <span
          aria-hidden="true"
          class="absolute group-[.is-open]/trigger:top-[10px] group-[.is-open]/trigger:-rotate-[135deg] left-0 top-5 block h-[2px] w-full bg-current transition-all ease-in-out"
        ></span>
      </button>

      <div
        class="opacity-0 hidden md:flex md:flex-col-reverse justify-end md:opacity-100 fixed md:static bg-gray-200 md:bg-transparent inset-0 p-12 md:p-0 transition-opacity gap-6 md:gap-0 grow"
        data-menu-wrapper
      >
        <ul class="flex flex-col md:flex-row gap-6 justify-end">
          {
            bottomGroups.map((group, index) => (
              <BottomGroup group={group} id={index + 1 + "top"} transparent={transparent} />
            ))
          }
        </ul>

        <ul
          class="flex flex-col md:flex-row md:justify-end mt-6 md:mt-0 mb-4 md:items-center gap-6 md:gap-0"
        >
          {
            topGroups.map((group, index) => (
              <TopGroup group={group} id={index + 1 + "bottom"} transparent={transparent} />
            ))
          }

          <li>
            <a
              href="/"
              class:list={[
                "md:uppercase hover:text-tertiary-400 md:px-4 md:py-3 text-lg md:text-base block transition-colors",
                transparent
                  ? "md:text-white group-data-[scrolling='true']:text-primary-800 group-data-[scrolling='true']:hover:text-tertiary-400"
                  : "text-primary-800",
              ]}
            >
              Give
            </a>
          </li>

          <SearchForm transparent={transparent} />
        </ul>
      </div>
    </nav>
  </header>
</div>

<script>
  const menu = document.querySelector<HTMLDivElement>("[data-menu]");

  function hide(button: HTMLButtonElement) {
    let group = menu?.querySelector<HTMLDivElement>(`#${button.getAttribute("aria-controls")}`);

    if (group) {
      group.classList.add("opacity-0");
      button.setAttribute("aria-expanded", "false");
      group.setAttribute("aria-hidden", "true");
      group.addEventListener(
        "transitionend",
        () => {
          group.classList.add("hidden");
        },
        { once: true }
      );
    }
  }

  function show(button: HTMLButtonElement) {
    let group = menu?.querySelector<HTMLDivElement>(`#${button.getAttribute("aria-controls")}`);

    if (group) {
      group.classList.remove("opacity-0", "hidden");
      button.setAttribute("aria-expanded", "true");
      group.setAttribute("aria-hidden", "false");
    }
  }

  function hideActive() {
    let active = getActive();

    if (active) {
      hide(active);
      active.focus();
    }
  }

  function handleToggleGroup(button: HTMLButtonElement) {
    if (button.getAttribute("aria-expanded") === "false") {
      hideActive();
      show(button);
    } else {
      hide(button);
    }
  }

  function getActive() {
    return menu?.querySelector<HTMLButtonElement>('button[aria-expanded="true"]');
  }

  function handleToggleNavigation(trigger: HTMLElement) {
    let menu = document.querySelector<HTMLDivElement>("[data-menu-wrapper]");

    if (menu) {
      if (menu.classList.contains("hidden")) {
        document.body.classList.add("overflow-hidden");
        trigger.classList.add("is-open");
        menu.classList.remove("hidden", "opacity-0");
        menu.classList.add("overflow-y-auto");
      } else {
        document.body.classList.remove("overflow-hidden");
        trigger.classList.remove("is-open");
        menu.classList.add("opacity-0");
        menu.addEventListener(
          "transitionend",
          () => {
            menu.classList.add("hidden");
            menu.classList.remove("overflow-y-auto");
          },
          { once: true }
        );
      }
    }
  }

  function handleClick(event: MouseEvent) {
    let element = event.target as HTMLElement | null;
    let active = getActive();

    if (element?.hasAttribute("aria-controls")) {
      handleToggleGroup(element as HTMLButtonElement);
    }

    if (element?.hasAttribute("data-menu-toggle")) {
      handleToggleNavigation(element);
    }

    if (!element?.closest("[data-menu]") && active) {
      hideActive();
    }
  }

  function handleKeyDown(event: KeyboardEvent) {
    let active = getActive();

    if (event.key === "Escape" && active) {
      hideActive();
    }
  }

  document.addEventListener("click", handleClick);
  document.addEventListener("keydown", handleKeyDown);

  if (menu) {
    let observer = new IntersectionObserver(
      ([entry]) => {
        entry?.target.setAttribute("data-scrolling", String(!entry.isIntersecting));
      },
      { threshold: 1 }
    );

    observer.observe(menu);
  }
</script>
