---
import Icon from "../icon.astro";

export interface TopGroup {
  title: string;
  children: (
    | {
        title: string;
        href: string;
        type: "button";
      }
    | {
        title: string;
        href: string;
        type: "link";
      }
    | {
        type: "separator";
      }
  )[];
}

interface Props {
  group: TopGroup;
  id: string;
  transparent: boolean;
}

const { group, id, transparent } = Astro.props;
---

<li class="relative">
  <button
    type="button"
    aria-expanded="false"
    aria-haspopup="true"
    id={`group-button-${id}`}
    aria-controls={`group-${id}`}
    class:list={[
      "hover:text-tertiary-400 md:aria-expanded:bg-primary-800 md:aria-expanded:text-white transition-colors md:px-4 md:py-3 md:uppercase group-data-[scrolling='true']:aria-expanded:text-white flex items-center gap-x-2 group text-lg md:text-base",
      transparent
        ? "md:text-white group-data-[scrolling='true']:text-primary-800 group-data-[scrolling='true']:hover:text-tertiary-400"
        : "text-primary-800",
    ]}
  >
    {group.title}

    <Icon name="chevron-down" class="size-4 group-aria-expanded:rotate-180 transition-transform" />
  </button>

  <div
    id={`group-${id}`}
    class="opacity-0 hidden md:absolute md:right-0 md:w-72 md:bg-primary-800 md:text-white transition-opacity duration-300 md:p-8 z-10 md:before:absolute before:bottom-0 before:left-0 before:h-2 before:w-full before:bg-gradient-to-r before:from-primary-600 before:to-secondary-600 mt-6 md:mt-0"
    role="region"
    aria-labelledby={`group-button-${id}`}
    aria-hidden="true"
  >
    <ul class="flex flex-col gap-2">
      {
        group.children.map((child) => {
          if (child.type === "separator") {
            return <li role="separator" class="w-full h-px bg-primary-500 my-4" />;
          }

          return (
            <li>
              <a
                href={child.href}
                class:list={[child.type === "button" ? "btn-tertiary w-full" : "link text-lg"]}
              >
                {child.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</li>
