---
import type { HTMLAttributes } from "astro/types";
import { cn, createId } from "../lib/utils";
import Icon from "./icon.astro";

interface Props extends HTMLAttributes<"div"> {
  title: string;
  subtitle?: string;
  id?: string;
  allowProse?: boolean;
  image?: {
    src: string;
    size?: number;
  };
}

const { title, id, subtitle, allowProse = false, image, class: className, ...props } = Astro.props;
const accordionId = id || createId();
---

<div
  data-analytics="accordion"
  class={cn("border border-gray-300 mb-4", { "not-prose": !allowProse }, className)}
  {...props}
  x-data={`{
    show: location.search.includes('${accordionId}'),

    init() {
      if (this.show) {
        $el.scrollIntoView({ block: 'center' });
      }
    }
  }`}
>
  <h3>
    <button
      type="button"
      aria-controls={accordionId}
      id={`button-${accordionId}`}
      class="flex gap-x-4 text-left relative items-center aria-expanded:bg-white bg-gray-100 w-full pl-4 pr-14 py-4 transition-colors group"
      :aria-expanded="show"
      @click="show = !show"
    >
      {
        image ? (
          <img
            src={image.src}
            alt=""
            aria-hidden="true"
            width={image.size || 56}
            height={image.size || 56}
          />
        ) : null
      }

      <span class="flex flex-1 flex-wrap gap-x-2">
        <span
          class="text-primary-800 font-sans text-sm sm:text-base md:text-lg mr-auto"
          set:html={title}
        />
        {
          subtitle ? (
            <span class="text-tertiary-500 font-title uppercase font-bold">{subtitle}</span>
          ) : null
        }
      </span>

      <Icon
        name="chevron-down"
        class="size-5 absolute right-4 top-1/2 -translate-y-1/2 group-aria-expanded:rotate-180 shrink-0 transition-transform duration-300"
      />
    </button>
  </h3>

  <div
    role="region"
    id={accordionId}
    aria-labelledby={`button-${accordionId}`}
    :style="show && { height: $el.scrollHeight + 'px' }"
    class="overflow-hidden transition-all ease-out duration-500 border-t border-gray-300 rich-text"
    :class="show ? 'h-auto' : 'h-0 invisible'"
  >
    <div class="p-4">
      <slot />
    </div>
  </div>
</div>
