---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"article"> {
  title?: string;
  subtitle?: string;
  image?: string;
  link?: {
    label: string;
    href: string;
  };
}

const { title, subtitle, image, link, class: className, ...props } = Astro.props;
---

<article
  {...props}
  class={cn("@container not-prose border border-gray-300 bg-gray-100 px-6 py-4", className)}
>
  <div class="flex flex-col @md:flex-row gap-4">
    {
      image ? (
        <figure class="@md:w-1/3">
          <img src={image} alt="" class="h-full object-cover" />
        </figure>
      ) : null
    }

    <div class="@md:w-2/3">
      {
        title ? (
          <h3 class:list={["h4 text-primary-800", subtitle ? null : "mb-4"]}>{title}</h3>
        ) : null
      }
      {
        subtitle ? (
          <p class="mb-4 text-tertiary-500 font-title uppercase font-bold">{subtitle}</p>
        ) : null
      }

      <slot />

      {
        link ? (
          <a href={link.href} class="btn-tertiary mt-4 flex w-max">
            {link.label}
          </a>
        ) : null
      }
    </div>
  </div>
</article>
