---
import type { HTMLAttributes } from "astro/types";
import Icon from "./icon.astro";
import { cn } from "../lib/utils";

interface Props extends HTMLAttributes<"dialog"> {
  title?: string;
  tabs: {
    name: string;
  }[];
}

const { title, tabs, class: className, ...props } = Astro.props;
---

<dialog
  data-analytics="tabbed-dialog"
  class={cn("absolute inset-0 z-10 w-full h-full overflow-y-auto", className)}
  x-show="selected !== null"
  open="selected !== null"
  style="display: none"
  @keydown.escape.prevent.stop="selected = null"
  x-id="['modal-title']"
  :aria-labelledby="$id('modal-title')"
  {...props}
>
  <div
    class="wrapper py-24 text-white"
    x-on:click.stop
  >
    <header class="flex items-center justify-center relative">
      {title ? (
        <h3
          class="text-center h2"
          :id="$id('modal-title')"
        >
          {title}
        </h3>
      ) : null}
      <button
        type="button"
        class="absolute right-0 hover:text-tertiary-400 transition-colors"
        aria-label="close dialog"
        @click="selected = null"
      >
        <Icon name="close" class="size-10" />
      </button>
    </header>

    <div role="tablist" class="flex gap-x-8 gap-y-4 flex-wrap my-8 justify-center">
      {
        tabs.map((tab, index) => (
          <button
            class="font-title uppercase font-bold text-lg md:text-2xl border-b-2 border-spacing-2 border-transparent aria-selected:border-tertiary-400 aria-selected:text-tertiary-400"
            type="button"
            role="tab"
            :aria-selected={`selected === 'index-${index}' ? "true" : "false"`}
            id={`tabbed-dialog-tab-${index}`}
            aria-controls={`tabbed-dialog-tabpanel-${index}`}
            @click={`selected = 'index-${index}'`}
          >
            {tab.name}
          </button>
        ))
      }
    </div>

    <slot />
  </div>
</dialog>
