---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import type { HTMLAttributes } from "astro/types";
import Icon from "../../components/icon.astro";
import RequestInformationForm from "../../components/request-information-form.astro";

interface Props extends HTMLAttributes<"div"> {
  tabs: {
    label: string;
    id: string;
    Component: AstroComponentFactory
  }[];
}

const { tabs, class: className, ...props } = Astro.props;
---

<div
  class={className}
  x-data="{
    selected: null,

    init() {
      const hash = location.hash.slice(1);

      this.$nextTick(() => this.select(hash || 'overview', Boolean(hash)));
    },

    select(id, scroll = true) {
      this.selected = id;

      if (scroll && !this.isInViewport(this.$refs.panels) && this.isMobileView()) {
        this.$refs.panels.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }
    },

    isInViewport(el) {
      const rect = el.getBoundingClientRect();

      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    },

    isMobileView() {
      return window.matchMedia('(max-width: 768px)').matches;
    },

    isSelected(id) {
      return this.selected === id;
    },
  }"
  {...props}
>
  <ul
    x-ref="tablist"
    @keydown.right.prevent.stop="$focus.wrap().next()"
    @keydown.left.prevent.stop="$focus.wrap().prev()"
    @keydown.home.prevent.stop="$focus.first()"
    @keydown.end.prevent.stop="$focus.last()"
    role="tablist"
    class="wrapper border-t border-gray-200 mt-12 items-center flex flex-col md:flex-row gap-x-4 justify-between flex-wrap"
  >
  {tabs.map((tab) => (
    <li>
      <button
        @click={`select('${tab.id}')`}
        @focus={`select('${tab.id}')`}
        :aria-selected={`isSelected('${tab.id}')`}
        :tabindex={`isSelected('${tab.id}') ? 0 : -1`}
        id={tab.id}
        type="button"
        role="tab"
        class="text-primary-800 font-title font-bold link uppercase text-lg py-2 md:py-4 border-y-4 border-transparent aria-selected:border-b-tertiary-400 aria-selected:text-tertiary-400"
      >
        {tab.label}
      </button>
    </li>
  ))}
</ul>

  <div class="bg-[linear-gradient(to_bottom,rgba(0,0,0,.075),white_100px)]">
    <div class="wrapper flex flex-col md:flex-row">
      <div class="md:w-2/3 py-8" x-ref="panels">
        {tabs.map((tab) => (
          <div
            x-show={`isSelected('${tab.id}')`}
            aria-labelledby={tab.id}
            role="tabpanel"
          >
            <tab.Component />
          </div>
        ))}
      </div>

      <aside class="md:border-l md:border-gray-200 md:ml-8 md:pl-8 md:w-1/3 mb-8">
        <div class="md:sticky md:top-24">
          <nav class="space-y-2 my-8">
            <a
              href="https://www.messiah.edu/info/20437/business_and_leadership_mba_ma"
              class="flex flex-col bg-primary-800 transition-opacity hover:opacity-75 text-white p-4 font-title"
              ><span class="text-sm uppercase">View homepage</span><span
                class="font-bold text-xl uppercase leading-none">Graduate program in Business and Leadership</span
              ></a
            >
            <a
              href="https://www.messiah.edu/info/20549/our_faculty"
              class="flex flex-col bg-primary-800 transition-opacity hover:opacity-75 text-white p-4 font-title"
              ><span class="text-sm uppercase">Meet the</span><span
                class="font-bold text-xl uppercase leading-none">Faculty</span
              ></a
            >
            <a
              href="#"
              class="flex flex-col bg-primary-800 transition-opacity hover:opacity-75 text-white p-4 font-title"
              ><span class="text-sm uppercase">View</span><span class="font-bold text-xl uppercase leading-none"
                >Admissions requirements</span
              ></a
            >
            <a href="https://www.messiah.edu/applytoday" class="btn-primary w-full justify-start"
              ><Icon name="edit" /> Apply</a
            >
            <a
              href="#"
              class="btn-primary w-full justify-start"><Icon name="chat" /> Chat</a
            >
          </nav>

          <RequestInformationForm />
        </div>
      </aside>
    </div>
  </div>
</div>
