---
import TabbedDialog from "../../components/tabbed-dialog.astro";

const items = [
  {
    name: "Faith-Intellect",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-1.png",
    intro: "The “outcome” of bringing together faith and intellect is:",
    outcome: "A discerning spirit",
    description:
      "Philosophy class: Existentialism.<br />I can see the problem<br />the longing for meaning<br />in a world reluctant to give it.<br />The professor asks:<br />As Christians, what do we do with this?<br />At Messiah,<br />I grapple with ideas from all angles<br />until I see the world’s realities<br />in a much deeper way.",
    banner: "https://www.messiah.edu/images/1_FaithIntellect.jpg",
  },
  {
    name: "Preparation-Imagination",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-2.png",
    intro: "The “outcome” of bringing together faith and intellect is:",
    outcome: "Real-world creativity",
    description:
      "Real problems.<br />A real village in Africa<br />needs a water pump.<br />From our campus,<br />we take it on.<br />We brainstorm.<br />We analyze, research, design.<br />We fail and try again.<br />We solve it.<br />We don't just dream of all we'll do after we graduate from Messiah.<br />We do it now.",
    banner: "https://www.messiah.edu/images/6_PreparationImagination.jpg",
  },
  {
    name: "Harmony-Difference",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-3.png",
    intro: "The “outcome” of bringing together harmony and difference is: ",
    outcome: "A passion for Christian community",
    description:
      "Before I came to Messiah,<br />I thought I had to agree<br />before I could listen.<br />But our conversations here<br />are full of different perspectives.<br />So when someone has something to say,<br />I listen.<br /><br />Maybe I will agree with her,<br />but even if I don't, I respond thought-<br />fully, realizing she cares as deeply about her faith<br />as I do about mine.<br />At Messiah, our core<br />Christian convictions are the same.",
    banner: "https://www.messiah.edu/images/2_HarmonyDifference.jpg",
  },
  {
    name: "Wisdom-Expertise",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-4.png",
    intro: "The “outcome” of bringing together wisdom and expertise is:",
    outcome: "Authentic power to lead",
    description:
      "Biology students<br />explore art history;<br />nursing students<br />study practical theology.<br />Because Messiah professors<br />teach us how,<br />rooted in the context of why,<br />we learn to make<br />deeply considered decisions.<br />In other words,<br />we learn to be leaders.",
    banner: "https://www.messiah.edu/images/5_WisdomExpertise.jpg",
  },
  {
    name: "Worship-Service",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-5.png",
    intro: "The “outcome” of bringing together service and worship is:",
    outcome: "A sense of calling",
    description:
      "We gather to pray and sing,<br />to stand before God<br />and ask: How shall we live?<br />In service learning,<br />we find an answer.<br />We discover that our lives<br />are not theoretical<br />that our gifts have a vital place,<br />that our actions can be<br />an influence for good.",
    banner: "https://www.messiah.edu/images/7_WorshipService.jpg",
  },
  {
    name: "Home-Journey",
    preview: "https://www.messiah.edu/site/custom_scripts/styles/img/about/see-anew-6.png",
    intro: "The “outcome” of bringing together home and journey is:",
    outcome: "A worldwide sense of belonging",
    description:
      "A semester in Rome.<br />A service trip to Zambia.<br />Three weeks<br />immersed in the culture and<br />landscape of New Zealand.<br />Messiah draws me<br />into the world, and I realize—<br />I am a global citizen,<br />no longer free to imagine<br />that my tiny place<br />is all that matters.<br />From all over the earth,<br />we redefine the<br />meaning of home.",
    banner: "https://www.messiah.edu/images/3_HomeJourney.jpg",
  },
];
---

<section
  id="see-anew"
  class="text-white scroll-m-24 relative bg-[url(/images/see-anew-bg.png)] bg-no-repeat bg-cover bg-primary-800 py-24"
>
  <div class="wrapper" x-data="{ selected: null }">
    <h2 class="h2 text-center">See anew at Messiah University</h2>
    <p class="text-center max-w-4xl mx-auto paragraph">
      The heart of “see anew” is the concept of transformation and reconciliation. Our alumni
      consistently tell us that their experience at Messiah was transforming—that it helped them see
      themselves, their faith, their career, and the world in exciting new ways. They also share
      that a Messiah education equipped them to navigate life's tensions and bring together
      seemingly incompatible people and ideas. We believe that this is exactly what the college
      years should be like for students, especially a Christ-centered college experience that’s
      rooted in the transformation we undergo as we follow Jesus together.
    </p>

    <ul class="grid grid-cols-2 md:grid-cols-3 gap-8 mt-8">
      {
        items.map((item, index) => (
          <li>
            <button
              @click={`selected = 'index-${index}'`}
              type="button"
              class="group font-title w-full font-bold text-center text-3xl flex flex-col items-center"
            >
              <img
                src={item.preview}
                alt=""
                class="mb-2 rounded-full group-hover:opacity-75 transition-opacity"
              />
              {item.name}
            </button>
          </li>
        ))
      }
    </ul>

    <TabbedDialog
      tabs={items}
      title="See anew"
      class="bg-[url(/images/see-anew-bg.png)] bg-no-repeat bg-cover bg-primary-950"
    >
      {
        items.map((item, index) => (
          <div
            id={`tabbed-dialog-tabpanel-${index}`}
            role="tabpanel"
            x-show={`selected === 'index-${index}'`}
            aria-labelledby={`tabbed-dialog-tab-${index}`}
          >
            <h4 class="text-center text-3xl my-12 relative before:absolute before:w-1/4 md:before:w-1/3 before:h-1 before:bg-gray-400 before:left-0 before:top-1/2 after:absolute after:w-1/4 md:after:w-1/3 after:h-1 after:bg-gray-400 after:right-0 after:top-1/2 after:hidden before:hidden md:after:block md:before:block">
              {item.name}
            </h4>

            <div class="flex gap-4 max-w-lg mx-auto">
              <img src={item.banner} alt="" class="hidden sm:block max-h-[350px]" />

              <div>
                <p class="text-2xl mb-4">{item.intro}</p>
                <p class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold font-title mb-4 leading-[0.75]">
                  {item.outcome}
                </p>
                <div set:html={item.description} class="paragraph" />
              </div>
            </div>
          </div>
        ))
      }
    </TabbedDialog>
  </div>
</section>
