---
import Footer from "../components/footer.astro";
import DesktopMenu from "../components/header/desktop-menu.astro";
import MobileMenu from "../components/header/mobile-menu.astro";
import "../styles/base.css";

interface Props {
  title: string;
  description: string;
  transparent?: boolean;
}

const { title, description, transparent = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Messiah University" />
    <meta name="description" content={description} />

    <title>
      {title} | Messiah, a private Christian University in PA
    </title>

    <link rel="stylesheet" href="https://use.typekit.net/pix7cvk.css" />
    <!-- Google Tag Manager -->
    <script>
      // @ts-nocheck
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PPRK8GZC");
    </script>
    <!-- End Google Tag Manager -->

    <script is:inline>
      document.addEventListener("alpine:init", () => {
        Alpine.magic("tooltip", (el) => (message) => {
          let instance = tippy(el, { content: message, trigger: "manual", allowHTML: true });

          instance.show();

          setTimeout(() => {
            instance.hide();

            setTimeout(() => instance.destroy(), 150);
          }, 2000);
        });

        // Directive: x-tooltip
        Alpine.directive("tooltip", (el, { expression }, { evaluateLater, effect }) => {
          const evaluate = evaluateLater(expression);

          // Set up the tooltip after the component has mounted
          Alpine.nextTick(() => {
            evaluate((value) => {
              tippy(el, {
                content: value,
                allowHTML: true,
              });
            });
          });

          // Optional: respond to changes reactively
          effect(() => {
            evaluate((value) => {
              el._tippy?.setContent(value); // update tooltip content dynamically
            });
          });

          // tippy(el, { content: evaluate(expression), allowHTML: true });
        });
      });
    </script>
    <!-- Fancyapps -->
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <!-- End Fancyapps -->

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/embla-carousel@8.5.2/embla-carousel.umd.min.js"></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.7/dist/tippy.umd.min.js"
    ></script>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy.min.css" />

    <!-- Alpine Plugins -->
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script is:inline defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- End Alpine Plugins -->

    <!-- Lite YouTube Embed -->
    <script
      is:inline
      defer
      src=" https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.3/src/lite-yt-embed.min.js "
    ></script>
    <link
      href=" https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.3.3/src/lite-yt-embed.min.css "
      rel="stylesheet"
    />
    <!-- End Lite YouTube Embed -->
  </head>
  <body class="font-sans text-gray-700">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PPRK8GZC"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a
      href="#content"
      class="btn-tertiary fixed left-1/2 top-0 -translate-x-1/2 z-50 -translate-y-full focus:translate-y-0"
      >Skip to content</a
    >

    <DesktopMenu transparent={transparent} />

    <MobileMenu transparent={transparent} />

    <slot />

    <Footer />

    <script>
      declare var Fancybox: any;

      Fancybox.bind("[data-fancybox]", {
        caption: (_: any, slide: any, caption: any) => {
          if (!caption) return null;

          return `
            <div style='${slide.imageEl ? `max-width: ${slide.imageEl.offsetWidth > 0 ? `${slide.imageEl.offsetWidth}px` : `800px`}` : ``}'>${caption}</div>
          `;
        },
      });
    </script>
  </body>
</html>
