---
import CtaSidebarLinks from "../components/cta-sidebar-links.astro";
import ProgramList, { type Program } from "../components/program-list.astro";
import { cn } from "../lib/utils";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  badge?: string;
  analyticsKey?: string;
  programs: Program[];
  image: string;
  mobileImage?: string;
}

const { title, description, analyticsKey, mobileImage, subtitle, badge, programs, image } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <header
    data-analytics={`${analyticsKey}-header`}
    class="relative md:bg-[image:var(--bg-banner-desktop)] bg-[image:var(--bg-banner-mobile)] isolate bg-center bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-gradient-to-br after:from-black/80 after:to-transparent -mt-32 before:absolute before:inset-0 before:bg-gradient-to-r before:from-primary-700/60 before:to-transparent"
    style={{
      "--bg-banner-desktop": `url(${image})`,
      "--bg-banner-mobile": `url(${mobileImage || image})`,
    }}
    aria-hidden="true"
  >
    <div
      class="max-w-6xl mx-auto md:px-4 md:h-[70vw] min-h-[400px] max-h-[600px] xl:max-h-[900px] flex items-end md:pb-4"
    >
      <div
        class="lg:w-3/4 mt-[400px] w-full md:mt-0 relative bg-primary-800 md:bg-transparent z-10 md:mb-20 p-4 md:p-0"
      >
        <h1
          class={cn(
            "font-title font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-white uppercase",
            {
              "md:mb-4": !subtitle,
            }
          )}
        >
          {title}
          {
            badge ? (
              <span class="bg-white text-primary-800 font-title font-bold leading-none text-lg py-1 md:text-2xl lg:text-3xl px-2 inline-block lg:-translate-y-1 ml-2">
                {badge}
              </span>
            ) : null
          }
        </h1>

        {subtitle ? <p class="mb-4 text-white md:text-lg">{subtitle}</p> : null}

        <ProgramList programs={programs} showText class="mt-2 md:mt-0" />
      </div>
    </div>
  </header>

  <CtaSidebarLinks />

  <main id="content" data-analytics={analyticsKey}>
    <slot />
  </main>
</BaseLayout>
