---
import { cn } from "../lib/utils";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  image: string;
  button?: {
    label: string;
    href: string;
  };
}

const { title, description, subtitle, button, image } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <header
    class={`relative bg-[image:var(--bg-banner)] isolate bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-48 before:absolute before:inset-0 before:bg-gradient-to-r before:from-primary-700/60 before:to-transparent`}
    style={{ "--bg-banner": `url(${image})` }}
    aria-hidden="true"
  >
    <div
      class="max-w-[2100px] mx-auto px-4 lg:px-12 h-[70vw] min-h-[400px] max-h-[900px] flex items-end md:items-center pb-4 pd:mb-0"
    >
      <div class="md:w-1/2 relative z-10">
        <h1
          class={cn("h1", {
            "border-b-4 md:border-b-8 border-tertiary-300 mb-4 pb-3": subtitle,
          })}
        >
          {title}
        </h1>
        {
          subtitle ? (
            <p class="text-white uppercase font-title md:text-2xl lg:text-3xl xl:text-4xl font-bold leading-none">
              {subtitle}
            </p>
          ) : null
        }
        {
          button ? (
            <a href={button.href} class="btn-tertiary mt-8">
              {button.label}
            </a>
          ) : null
        }
      </div>
    </div>
  </header>

  <main id="content">
    <slot />
  </main>
</BaseLayout>
