---
import CtaSidebarLinks from "../components/cta-sidebar-links.astro";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  image: string;
  mobileImage?: string;
  analyticsKey?: string;
  buttons?: {
    label: string;
    href: string;
  }[];
}

const { title, description, analyticsKey, subtitle, buttons, image, mobileImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <header
    data-analytics={`${analyticsKey}-header`}
    class="relative md:bg-[image:var(--bg-banner-desktop)] bg-[image:var(--bg-banner-mobile)] isolate bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-32 before:absolute before:inset-0 before:bg-gradient-to-r before:from-primary-700/60 before:to-transparent"
    style={{
      "--bg-banner-desktop": `url(${image})`,
      "--bg-banner-mobile": `url(${mobileImage || image})`,
    }}
    aria-hidden="true"
  >
    <div
      class="max-w-[2100px] sm:pt-32 mx-auto px-4 lg:px-12 h-[70vw] min-h-[500px] max-h-[900px] flex items-end md:items-center pb-4 pd:mb-0"
    >
      <div class="md:w-1/2 relative z-10">
        <h1 class="h1">
          {title}
        </h1>
        {
          subtitle ? (
            <>
              <hr class="border-tertiary-300 border-b-4 md:border-b-8 w-1/2 mb-4 mt-3" />
              <p class="text-white uppercase font-title md:text-2xl lg:text-3xl xl:text-4xl font-bold leading-none">
                {subtitle}
              </p>
            </>
          ) : null
        }

        {
          buttons ? (
            <div class="flex flex-wrap gap-2 mt-8">
              {buttons.map((button) => (
                <a href={button.href} class="btn-secondary">
                  {button.label}
                </a>
              ))}
            </div>
          ) : null
        }
      </div>
    </div>
  </header>

  <CtaSidebarLinks />

  <main id="content" data-analytics={analyticsKey}>
    <slot />
  </main>
</BaseLayout>
