---
import { cn } from "../lib/utils";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
  image: string;
}

const { title, description, subtitle, image } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <header
    class={`relative bg-[image:var(--bg-banner)] bg-cover bg-no-repeat after:absolute after:inset-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-32 before:absolute before:inset-0 before:bg-gradient-to-r before:from-primary-700/60 before:to-transparent`}
    style={{ "--bg-banner": `url(${image})` }}
    aria-hidden="true"
  >
    <div class="max-w-6xl mx-auto px-4 h-[40vw] min-h-[270px] max-h-[800px] flex items-center">
      <div class="w-1/2 relative z-10">
        <h1
          class={cn("uppercase text-white font-title text-8xl font-bold leading-[0.75]", {
            "border-b-8 border-tertiary-300 mb-4 pb-3": subtitle,
          })}
        >
          {title}
        </h1>
        {
          subtitle ? (
            <p class="text-white uppercase font-title text-4xl font-bold leading-none">
              {subtitle}
            </p>
          ) : null
        }
      </div>
    </div>
  </header>

  <main id="content" class="max-w-6xl mx-auto px-4 py-12">
    <slot />
  </main>
</BaseLayout>
