---
import Breadcrumbs from "../components/breadcrumbs.astro";
import CtaSidebarLinks from "../components/cta-sidebar-links.astro";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  description: string;
  analyticsKey?: string;
  breadcrumbs: {
    name: string;
    href: string;
  }[];
}

const { title, description, analyticsKey, breadcrumbs } = Astro.props;
---

<BaseLayout title={title} description={description} transparent={false}>
  <main id="content" data-analytics={analyticsKey}>
    <header class="bg-gray-100">
      <h1
        class="px-6 max-w-6xl mx-auto font-title pb-6 pt-8 uppercase tracking-widest text-3xl md:text-4xl text-primary-800 leading-none"
      >
        {title}
      </h1>
    </header>
  </main>

  <CtaSidebarLinks />

  <div class="relative mx-auto max-w-6xl">
    <div class="bg-white px-6 py-4">
      <Breadcrumbs links={breadcrumbs} />

      <slot />
    </div>
  </div>
</BaseLayout>
