---
import Breadcrumbs from "../components/breadcrumbs.astro";
import BaseLayout from "./base.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  analyticsKey?: string;
  breadcrumbs: {
    name: string;
    href: string;
  }[];
}

const { title, description, analyticsKey, image, breadcrumbs } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    class={`h-[50vw] relative min-h-[270px] max-h-[1000px] border-b-8 border-tertiary-400 bg-[image:var(--bg-banner)] bg-cover bg-no-repeat after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-48`}
    style={{ "--bg-banner": `url(${image})` }}
    aria-hidden="true"
  >
  </div>

  <main class="relative mx-auto lg:-mt-48 max-w-6xl" id="content" data-analytics={analyticsKey}>
    <h1
      class="text-shadow inline-block bg-primary-800/85 px-6 py-4 font-title tracking-widest text-white text-3xl md:text-4xl mb-6 md:mb-1"
    >
      Web Services at Messiah University
    </h1>

    <div class="bg-white px-6 py-4">
      <Breadcrumbs links={breadcrumbs} />

      <slot />
    </div>
  </main>
</BaseLayout>
