---
import type { ComponentProps } from "astro/types";
import Breadcrumbs from "../components/breadcrumbs.astro";
import CtaSidebarLinks from "../components/cta-sidebar-links.astro";
import BaseLayout from "./base.astro";
import Sidebar from "../components/sidebar.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  analyticsKey?: string;
  breadcrumbs: {
    name: string;
    href: string;
  }[];
  sidebarLinks?: ComponentProps<typeof Sidebar>["links"];
}

const { title, description, analyticsKey, sidebarLinks, image, breadcrumbs } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div
    class={`h-[50vw] relative min-h-[270px] max-h-[1000px] border-b-8 border-tertiary-400 bg-[image:var(--bg-banner)] bg-cover bg-no-repeat after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0 after:bg-gradient-to-b after:from-black/60 after:to-transparent -mt-32`}
    style={{ "--bg-banner": `url(${image})` }}
    aria-hidden="true"
  >
  </div>

  <main class="relative mx-auto lg:-mt-32 max-w-6xl" id="content" data-analytics={analyticsKey}>
    <h1
      class="text-shadow uppercase lg:w-max bg-primary-800/85 px-6 py-4 font-title tracking-widest text-white text-2xl md:text-3xl mb-6 md:mb-1"
    >
      {title}
    </h1>

    <CtaSidebarLinks />

    <div class="bg-white px-6 py-4">
      <Breadcrumbs links={breadcrumbs} />

      <div class="flex flex-col lg:flex-row">
        <!-- Either render a default sidebar with the links or render the slot -->
        {sidebarLinks ? <Sidebar links={sidebarLinks} /> : null}
        {Astro.slots.has("sidebar") ? <slot name="sidebar" /> : null}

        <div class="space-y-4 md:px-10 md:py-8 flex-1">
          <slot />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
